#scoreboard
  %table.scoreboard-table
    %tr
      %td.home-team= game.home_team.upcase
      %td.home-score= game.home_score
      %td.inning-info
        %span.inning-status
          - status = case game.inning_status
          - when "top" then "▲"
          - when "bot" then "▼"
          - else "end"
          #{status}
        %span.inning
          #{game.inning}
        %div.balls-strikes-outs
          %span.balls-strikes
            #{game.balls}-#{game.strikes}
          %span.outs
            outs #{game.outs}
      %td.away-team= game.away_team.upcase
      %td.away-score= game.away_score
