#scoreboard
  %table.scoreboard-table
    %tr
      - abgc  = game.away_bg_color
      - abgsc = game.away_bg_score_color
      - afc   = game.away_font_color
      %td.away-score{ style: "width: 60px; font-weight: bold; text-align: center; background-color: #{abgsc}; color: #{afc};" }= game.away_score
      %td{ style: "min-width: 270px; font-weight: bold; padding-left: 20px; background-color: #{abgc}; color: #{afc};" }= game.away_team.upcase
      %td.inning-info
        %span.inning-status
          - status = case game.inning_status
          - when "top" then "▲"
          - when "bot" then "▼"
          - when "pre" then "Pre"
          - when "end" then "Final"
          #{status}
        %span.inning
          - unless game.pregame? || game.inning_status == "end"
            #{game.inning}
        %div.balls-strikes-outs
          %span.balls-strikes
            #{game.balls}-#{game.strikes}
          %span.outs
            outs #{game.outs}
        %img.base_runners{
          src: "data:image/svg+xml;utf8,#{game.base_runners_svg}",
          width: "50px",
          style: "padding-left: 10px;" }
      - hbgc  = game.home_bg_color
      - hbgsc = game.home_bg_score_color
      - hfc   = game.home_font_color
      %td{ style: "min-width: 270px; font-weight: bold; padding-left: 20px; background-color: #{hbgc}; color: #{hfc};" }= game.home_team.upcase
      %td{ style: "width: 60px; font-weight: bold; text-align: center; background-color: #{hbgsc}; color: #{hfc};" }= game.home_score
