#scoreboard
  %table.scoreboard-table
    %tr
      %td{ style: "width: 60px; font-weight: bold; text-align: center; background-color: #333333; color: #b38b00; border: 1px solid #333333;" }= game.away_score
      %td{ style: "min-width: 270px; font-weight: bold; padding-left: 20px; background-color: black; color: #b38b00; border: 1px solid black;" }= game.away_team.upcase
      %td.inning-info
        %span.inning-status
          - status = case game.inning_status
          - when "top" then "▲"
          - when "bot" then "▼"
          - when "pre" then "Pre"
          - when "end" then "Final"
          #{status}
        %span.inning
          - unless game.pregame? || game.inning_status == "end"
            #{game.inning}
        %div.balls-strikes-outs
          %span.balls-strikes
            #{game.balls}-#{game.strikes}
          %span.outs
            outs #{game.outs}
        %img.base_runners{
          src: "data:image/svg+xml;utf8,#{game.base_runners_svg}",
          width: "50px",
          style: "padding-left: 10px;" }
      %td{ style: "min-width: 270px; font-weight: bold; padding-left: 20px; background-color: gold; color: black;" }= game.home_team.upcase
      %td{ style: "width: 60px; font-weight: bold; text-align: center; background-color: #ccac00; color: black; border: 1px solid #ccac00;font-weight: bold; " }= game.home_score
