#scoreboard
  %table.scoreboard-table
    %tr
      %td.away-team= game.away_team.upcase
      %td.away-score= game.home_score
      %td.inning-info
        %span.inning-status
          - status = case game.inning_status
          - when "top" then "▲"
          - when "bot" then "▼"
          - when "pre" then "Pre"
          - when "end" then "Final"
          #{status}
        %span.inning
          - unless game.pregame? || game.inning_status == "end"
            #{game.inning}
        %div.balls-strikes-outs
          %span.balls-strikes
            #{game.balls}-#{game.strikes}
          %span.outs
            outs #{game.outs}
        %img.base_runners{
          src: "data:image/svg+xml;utf8,#{game.base_runners_svg}",
          width: "50px",
          style: "padding-left: 10px;" }
      %td.home-team= game.home_team.upcase
      %td.home-score= game.away_score
