#scoreboard
  %h1= game.home_team
  %h2 Home Score: #{game.home_score}

  %h1= game.away_team
  %h2 Away Score: #{game.away_score}

  %h3 Inning: #{game.inning} #{game.inning_status}, Balls: #{game.balls}, Strikes: #{game.strikes}, Outs: #{game.outs}
