%h1 Edit Score

= form_with(model: @game, url: baseball_game_path(@game), data: { turbo: false }) do |f|
  %p
    %label Home Score:
    = f.number_field :home_score

  %p
    %label Away Score:
    = f.number_field :away_score

  %p
    %label Inning:
    = f.number_field :inning

  %p
    %label Inning Status:
    = f.select :inning_status, options_for_select([["Top", "top"], ["Bottom", "bottom"], ["End", "end"]]), {}, class: "form-control"

  %p
    %label Balls:
    = f.number_field :balls

  %p
    %label Strikes:
    = f.number_field :strikes

  %p
    %label Outs:
    = f.number_field :outs

  = f.submit "Update Score"
