%h1.title Edit Score

= form_with(id: "score-form", model: @game, url: baseball_game_path(@game), data: { turbo: false}) do |f|
  = f.hidden_field :action, id: "action-input"

  %dl
    %div.form-row
      %dt #{@game.home_team}:
      %dd
        = f.number_field :home_score
        = link_to "+1", "#", class: 'button action-btn', data: { action: "inc_home_score", turbo: false }

    %div.form-row
      %dt #{@game.away_team}:
      %dd
        = f.number_field :away_score
        = link_to "+1", "#", class: 'button action-btn', data: { action: "inc_away_score", turbo: false }

    %div.form-row
      %dt Inning:
      %dd= f.number_field :inning

    %div.form-row
      %dt Inning Status:
      %dd
        = f.select :inning_status, options_for_select([["Pre", "pre"], ["Top", "top"], ["Bottom", "bot"], ["End", "end"]], @game.inning_status), {}, class: "form-control"
        = link_to "NEXT IN.", "#", class: 'button action-btn', data: { action: "next_inning_status", turbo: false }


    %div.form-row
      %dt Balls:
      %dd
        = f.number_field :balls, max: 3, min: 0
        = link_to "BALL", "#", class: 'button action-btn', data: { action: "ball", turbo: false }
        -#= link_to "WALK", "#", class: 'button action-btn', data: { action: "walk", turbo: false }

    %div.form-row
      %dt Strikes:
      %dd
        = f.number_field :strikes, max: 2, min: 0
        = link_to "STRIKE", "#", class: 'button action-btn', data: { action: "strike", turbo: false }
        %br
        %br
        = link_to "CLEAR COUNT", "#", class: 'button action-btn', data: { action: "clear_count", turbo: false }

    %div.form-row
      %dt Outs:
      %dd
        = f.number_field :outs, max: 2, min: 0
        = link_to "OUT", "#", class: 'button action-btn', data: { action: "out", turbo: false }
        %br
        %br
        = link_to "CLEAR OUT", "#", class: 'button action-btn', data: { action: "clear_out", turbo: false }

    %div.form-row
      %dt Base Runners:
      %dd
        = f.check_box :runner_on_first
        = f.label :runner_on_first, "1st"
        %br
        = f.check_box :runner_on_second
        = f.label :runner_on_first, "2nd"
        %br
        = f.check_box :runner_on_third
        = f.label :runner_on_first, "3rd"
        %br
        %br
        = link_to "CLEAR ALL", "#", class: 'button action-btn', data: { action: "clear_all_counts", turbo: false }
  = f.submit "Update Scoreboard", class: 'button'
